<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr class="text-center" >
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
            </tr>
        </thead>
        <tbody>            
        {% for search_history in searchs_history %}
            <tr class="text-center">
                <td>{{datetime.strptime(search_history.created_at, '%Y-%m-%d %H:%M:%S.%f').strftime('%d/%m/%Y')}}</td>
                <td>{{datetime.strptime(search_history.created_at, '%Y-%m-%d %H:%M:%S.%f').strftime('%H:%M:%S')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>